@model GameBlog.Models.EditUserViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование данных</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        Поле для почты
        <div>
            @Html.EditorFor(m => m.Email)
        </div>       
    </div>
    <div>
        Поле для никнейма
        <div>
            @Html.EditorFor(m => m.UserName)
        </div>        
    </div>
    <div>
        Поле для Года рождения
        <div>
            @Html.EditorFor(m => m.Year)
        </div>       
    </div>
    <br/>
    <div>
        <input type="submit" class="btn btn-dark" value="Save" /> 
    </div>
}


