@model GameBlog.Models.Article
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление статьи</h2>

<p>Вы точно хотите удоалить эту статью?</p>
<b>@Model.Title</b>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="submit" value="Удалить" />
}